[global_config]
  title_transmit_bg_color = "#e11d48"
  title_inactive_bg_color = "#181820"
  focus = "mouse"
  suppress_multiple_term_dialog = True
  always_split_with_profile = True

[keybindings]
  split_horiz = <Primary><Shift>o
  split_vert = <Primary><Shift>e
  close_term = <Primary><Shift>w
  toggle_scrollbar = <Primary><Shift>s

[profiles]
  [[default]]
    font = "Ubuntu Sans Mono 11"
    use_system_font = False
    background_color = "#090a0f"
    foreground_color = "#eaeaea"
    cursor_color = "#e11d48"
    cursor_shape = "block"
    cursor_blink = True
    show_titlebar = False
    scrollbar_position = "hidden"
    scrollback_infinite = True
    copy_on_selection = True
    palette = "#090a0f:#e11d48:#10b981:#f59e0b:#38bdf8:#a855f7:#06b6d4:#eaeaea:#3a3a42:#f43f5e:#34d399:#fbbf24:#60a5fa:#c084fc:#22d3ee:#ffffff"
    use_theme_colors = False

[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
      size = 950, 600
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default

[plugins]
